#!/bin/sh -e

. /usr/share/debconf/confmodule

db_beginblock

if [ -f /usr/lib/calendar/default ]; then
  db_input medium bsdmainutils/calendar_config_moved || true

  files=`find /usr/lib/calendar -not -name default | grep -v -e '^/usr/lib/calendar$'`
  if [ ! -z $files ]; then
    db_input medium bsdmainutils/calendar_lib_is_not_empty || true
  fi
fi

db_input high bsdmainutils/calendar_help || true

db_endblock
db_go

#DEBHELPER#

