#!/usr/bin/perl -w

use strict;

#
# Package contents
#
$::keymaps = {};

# Any item named 'Standard' will be the default choice among its siblings.
# Any single item ditto.
# If none bears that name, declare a sibling element "default => 'his name'".

# Not perfect: the last package declaring a default will win :}
# Maybe package with no default should depend on package with one ?
# Lintian will have to be smart then !

# Maybe implement ratings instead of 'default' flag ?

#####KEYMAPS#####
# -*- perl -*-

$::keymaps->{pc} =
  {
   default => 'qwerty',

   'azerty' =>
   {
    default => 'French',
    'French' =>
    {
     default => 'Without Euro (latin 1)',
     'Without Euro (latin 1)' => { 'Standard' => 'fr-pc', },
     'With Euro (latin 15)' => { 'Standard' => 'fr-latin0', },
    },
    'Belgian' => # needs confirm
    {
     'Standard' =>
     {
      'Standard' => 'be-latin1',
      'Alternate' => 'be2-latin1',
     },
     'Wang' => { 'Standard' => 'wangbe', },
    },
   },

   'dvorak' => # needs confirm
   {
    'Unknown' =>
    {
     'Standard' =>
     {
      'Standard' => 'dvorak',
      'ANSI' => 'ANSI-dvorak',
      'With French and Spanish accents' => 'pc-dvorak-latin1',
     },
     'Left single-handed' => { 'Standard' => 'dvorak-l', },
     'Right single-handed' => { 'Standard' => 'dvorak-r', },
    },
   },

   'fgGIod' =>
   {
    'Turkish' => # needs confirm
    # FIXME
    {
     'Standard' =>
     {
      'trf' => 'trf',
      'tr_f-latin5' => 'tr_f-latin5',
     },
    },
   },

   'qwerty' =>
   {
    default => 'US american',
    'US american' =>
    {
     'Standard' =>
     {
      'Standard' => 'us',
      'With latin1' => 'us-latin1',
     },
    },
    'British' =>
    {
     'Standard' => { 'Standard' => 'uk', },
    },
    'Bulgarian' =>
    {
     'Standard' => { 'Standard' => 'bg', },
    },
    'Brazilian' =>
    {
     'Standard' => { 'Standard' => 'br-abnt2', },
    },
    'Canadian' => # needs confirm
    {
     'French' => { 'Standard' => 'cf', },
     'English' => { 'Standard' => 'us', },
    },
    'Czech' => # needs confirm
    {
     'Standard' =>
     {
      'Standard' => 'cz-lat2',
      'Programmer' => 'cz-lat2-prog',
     },
    },
    'Danish' => # needs confirm
    {
     'Standard' =>
     {
      'Standard' => 'dk',
      'Dead keys' => 'dk-latin1',
     },
    },
    'Spanish' => # needs confirm
    {
     'Standard' =>
     {
      'Standard' => 'es',
      'CP850' => 'es-cp850',
     },
    },
    'Estonian' => # needs confirm
    {
     'Standard' =>
     {
      'Standard' => 'et',
      'No dead keys' => 'et-nodeadkeys',
     },
    },
    'Finnish' => # needs confirm (cf swedish ?)
    {
     'Standard' => { 'Standard' => 'fi-latin1', },
     'Old (obsolete)' => { 'Standard' => 'fi', },
    },
    'Polish' => # needs confirm
    {
     'Standard' =>
     {
      default => 'Diacritics with AltGr and Alt',
      'AltGr only diacritics' => 'pl',
      'Diacritics with AltGr and Alt' => 'pl1',
     },
    },
    'Greek' => # needs confirm
    {
     'Standard' =>
     {
      'Standard' => 'gr',
      'gr-pc' => 'gr-pc',
     },
    },
    'Italian' => # needs confirm
    {
     'Standard' =>
     {
      'Standard' => 'it',
      'it2' => 'it2',
      'IBM' => 'it-ibm',
     },
    },
    'Lithuanian' =>
    {
     'Standard' =>
     {
      'latin4' => 'lt.l4',
      'unicode' => 'lt',
     },
    },
    'Latvian' =>
    {
     'Standard' =>
     {
      'latin4' => 'lv-latin4',
      'latin7' => 'lv-latin7',
     },
    },
    'Norvegian' => # needs confirm
    {
     'Standard' =>
     {
      'Standard' => 'no',
      'latin1' => 'no-latin1',
     },
    },
    'Japanese' => # needs confirm
    {
     'Standard' => { 'Standard' => 'jp106', },
     'PC 110' => { 'Standard' => 'pc110', },
    },
    'Dutch' =>
    {
     'Standard' => { 'Standard' => 'nl', },
    },
    'Hebrew' =>
    {
     'Standard' => { 'Standard' => 'hebrew', },
    },
    'Hungarian' =>
    {
     'Standard' => { 'Standard' => 'hu101', },
    },
    'Icelandic' =>
    {
     'Standard' => { 'Standard' => 'is-latin1', },
    },
    'Latin American' =>
    {
     'Standard' => { 'Standard' => 'la-latin1', },
    },
    'Macedonian' =>
    {
     'Standard' => { 'unicode' => 'mk', },
    },
    'Portugese' => # needs confirm
    {
     'Standard' =>
     {
      'Standard' => 'pt-latin1',
      'Old keymap' => 'pt-old',
     },
    },
    'Romanian' =>
    {
     'Standard' => { 'Standard' => 'ro', },
    },
    'Russian' => # needs confirm
    {
     'Standard' =>
     {
      'KOI8-R (RightAlt)' => 'ru1',
      'KOI8-R (RightCtrl)' => 'ru',
      'KOI8-R (102 Keys)' => 'ru3',
      'KOI8-R (105 Keys)' => 'ru4',
      'KOI8-R (MS Cyrillic Layout)' => 'ru-ms',
      'KOI8-R (Yawerty Layout)' => 'ru-yawerty',
      'CP-1251 (1)' => 'ru-cp1251',
      'CP-1251 (2)' => 'ru_win',
      'CP-866' => 'ru2',
     },
    },
    'Swedish' => # needs confirm (cf finnish ?)
    {
     'Standard' => { 'Standard' => 'se-latin1', },
    },
    'Slovak' =>
    {
     'Standard' =>
     {
      'Standard' => 'sk-qwerty',
      'Programmer' => 'sk-prog',
      'Alternate programmer' => 'sk-prog-qwerty',
     },
    },
    'Turkish' => # needs confirm
    {
     'Standard' =>
     {
      '"Q" layout (1)' => 'tr_q-latin5',
      '"Q" layout (2)' => 'trq',
      'Alternate' => 'tralt',
     },
    },
    'Ukrainian' => # needs confirm
    {
     'Standard' =>
     {
      'Standard (koi8u)' => 'ua',
      'WS' => 'ua-ws',
      'unicode' => 'ua-utf',
      'WS - unicode' => 'ua-utf-ws',
      'Alternate' => 'uaw',
      'Alternate - unicode' => 'uaw_uni',
     },
    },
   },

   'qwertz' =>
   {
    default => 'German',
    'Swiss' => # needs confirm
    {
     'French' =>
     {
      'Standard' => 'fr_CH',
      'latin1' => 'fr_CH-latin1',
     },
     'German' =>
     {
      'Standard' => 'sg',
      'latin1' => 'sg-latin1',
      'latin1-lk450' => 'sg-latin1-lk450',
     },
    },
    'German' => # needs confirm
    {
     'Standard' =>
     {
      'Standard' => 'de',
      'latin1' => 'de-latin1',
      'latin1 - no dead keys' => 'de-latin1-nodeadkeys',
     },
    },
    'Slovak' =>
    {
     'Standard' =>
     {
      'Standard' => 'sk-qwertz',
      'Programmer' => 'sk-prog-qwertz',
     },
    },
    'Czech' =>
    {
     'Standard' => { 'Standard' => 'cz-us-qwertz', },
    },
    'Hungarian' =>
    {
     'Standard' => { 'Standard' => 'hu', },
    },
    'Slovene' =>
    {
     'Standard' => { 'Standard' => 'slovene', },
    },
    'Croat' =>
    {
     'Standard' => { 'Standard' => 'croat', },
    },
    'Serbian' =>
    {
     'Standard' => { 'Standard' => 'sr', },
    },
   },

  };

$::keymaps->{sparc} =
  {
   default => 'Type 5',
   'Type 5' =>
   {
    default => 'British',
    'French' =>
    {
     'Standard' => { 'Standard' => 'sunt5-fr-latin1', },
    },
    'German' =>
    {
     'Standard' => { 'Standard' => 'sunt5-de-latin1', },
    },
    'Spanish' =>
    {
     'Standard' => { 'Standard' => 'sunt5-es', },
    },
    'Finnish' =>
    {
     'Standard' => { 'Standard' => 'sunt5-fi-latin1', },
    },
    'Russian' =>
    {
     'Standard' => { 'Standard' => 'sunt5-ru', },
    },
    'British' =>
    {
     'Standard' => { 'Standard' => 'sunt5-uk', },
    },
   },
   'Type 4' =>
   {
    'Spanish' =>
    {
     'Standard' => { 'Standard' => 'sunt4-es', },
    },
   },
   'dvorak' =>
   {
    'Unknown' =>
    {
     'Standard' => { 'Standard' => 'sundvorak', },
    },
   },
   'Unknown (Polish)' =>
   {
    'Polish' =>
    {
     'Standard' => { 'Standard' => 'sun-pl', },
    },
   },
  };

$::keymaps->{atari} =
  {
   'Unknown' =>
   {
    default => 'US american',
    'German' =>
    {
     'Standard' =>
     {
      'Standard' => 'atari-de',
      'With dead keys' => 'atari-de-deadkeys',
      'Emacs-like' => 'atari-de-emacs',
     },
    },
    'Swedish' =>
    {
     'Standard' =>
     {
      'Standard' => 'atari-se',
      'With dead keys' => 'atari-se-deadkeys',
     },
    },
    'British' =>
    {
     'Standard' =>
     {
      'Standard' => 'atari-uk',
      'With dead keys' => 'atari-uk-deadkeys',
     },
    },
    'US american' =>
    {
     'Standard' =>
     {
      'Standard' => 'atari-us',
      'With dead keys' => 'atari-us-deadkeys',
     },
    },
   },
  };

$::keymaps->{amiga} =
  {
   'Unknown' =>
   {
    default => 'US american',
    'German' =>
    {
     'Standard' => { 'Standard' => 'amiga-de', },
    },
    'Spanish' =>
    {
     'Standard' => { 'Standard' => 'amiga-es', },
    },
    'French' =>
    {
     'Standard' => { 'Standard' => 'amiga-fr', },
    },
    'Italian' =>
    {
     'Standard' => { 'Standard' => 'amiga-it', },
    },
    'Swedish' =>
    {
     'Standard' => { 'Standard' => 'amiga-se', },
    },
    'Swiss' =>
    {
     'German' => { 'Standard' => 'amiga-sg', },
    },
    'US american' =>
    {
     'Standard' => { 'Standard' => 'amiga-us', },
    },
   },
  };

$::keymaps->{mac} =
  {
   'Unknown' =>
   {
    default => 'US american',
    'German' =>
    {
     'Standard' =>
     {
      'Standard' => 'mac-de2-ext',
      'No dead keys (broken)' => 'mac-de-latin1-nodeadkeys',
     },
    },
    'French' =>
    {
     'Standard' =>
     {
      'Standard' => 'mac-fr3',
      'Alternate' => 'mac-fr2-ext',
     },
    },
    'US american' =>
    {
     'Standard' =>
     {
      'Standard' => 'mac-us-std',
      'Extended' => 'mac-us-ext',
     },
    },
   },
  };

$::obsolete_keymaps = (
		       [ 'pc', 'qwerty', 'Canadadian' ],
		      );

# END OF DATAPACKAGE-SPECIFIC PART
# BELOW THIS LINE IS THE GENERIC PART

# This a preliminary debconf script for console-related data.
# (c) 1999-2000, Yann Dirson <dirson@debian.org>

# It has the following limitations that should be addressed:
# - only handles keymap configuration (ie, only does part of kbdconfig's job)
# - does not allow testing keymap before accepting it (REGRESSION).
# - does not allow reloading a default keymap (REGRESSION).

use Debconf::Client::ConfModule ':all';

die "Syntax error: no argument" if ($#ARGV < 0);

#####COMMON#####
# -*- perl -*-

# Subarches
# FIXME: not done
# Issues:
# * ppc issues not fully asserted yet
# * /proc/hardware, which only exists on m68k and ppc, seems to be
#   an OPTION while configuring the kernel !
#   Any fallback when it's not there ?
# * USB set of keymap should contain what ? mac ? pc ? subset of those ?

# SUBARCH	KEYMAP SET	DETECTION
# m68k/atari	atari		"Model: Atari"
# m68k/amiga	amiga		"Model: Amiga"
# m68k/mac	mac		"Model: Macintosh"
# m68k/mvme	pc		"Model: Motorola"
# m68k/bvme	pc		"Model: BVME[46]000"
# m68k/{sun,apollo,next,q40,hp300} Not supported by Debian

# ppc/apus	amiga		"Model: Amiga"
# ppc/chrp	pc,mac		"Model: CHRP"
# ppc/pmac	mac		"Model: PowerMac|[Pp]ower[Bb]ook*|Power|iMac*|PowerMac1*"
# ppc/prep	pc		"Model: PReP"
# ppc/{bbox,mbx,ppc64,82xx,8xx} Not yet supported by Debian
sub guess_arch {
  my ($defs) = @_;

  my $arch = `dpkg --print-installation-architecture`;
  chomp $arch;

  # Overrides for testing:
  #     $arch = 'powerpc';
  #     $arch = 'm68k';

  if (($arch eq 'powerpc') || ($arch eq 'm68k')) {
    my $subarch;
    if ($arch eq 'powerpc') {
      my $line = `grep ^machine /proc/cpuinfo`;
      chomp $line;
      abort ($defs, "No \"machine\" field in /proc/cpuinfo") if $line eq '';
      $subarch = lc substr ($line, 11);
    } elsif ($arch eq 'm68k') {
      my $line = `grep ^Model: /proc/hardware`;
      chomp $line;
      abort ($defs, "No \"Model\" field in /proc/hardware") if $line eq '';
      $subarch = lc substr ($line, 6);
    }
    chomp($subarch);
    $subarch =~ s/^\s*//;
    $subarch = 'amiga'	if $subarch =~ m/^amiga/;
    $subarch = 'chrp'	if $subarch =~ m/^chrp/;
    $subarch = 'prep'	if $subarch =~ m/^prep/;
    $subarch = 'mac'	if $subarch =~ m/^macintosh|powermac|powerbook|power|imac|powermac1/;
    $subarch = 'atari'	if $subarch =~ m/^atari/;
    $subarch = 'mvme'	if $subarch =~ m/^motorola/;
    $subarch = 'bvme'	if $subarch =~ m/^bvme/;

    $arch = "$arch/$subarch";
  }

  # Overrides for testing:
  #     $arch = 'sparc';
  #     $arch = 'powerpc/mac';
  #     $arch = 'powerpc/chrp';
  #     $arch = 'm68k/amiga';
  #     $arch = 'alpha';

  return $arch;
}

sub abort {
  my ($defs, $msg) = @_;
  print STDERR "Debconf module aborted ($msg) - using old config mechanism.\n";
#  fset_default($defs);
  exit 0;
}

sub correctname($) {
  my ($string) = @_;

  $string = lc $string;
  $string =~ s/[^a-z0-9+\-\.\/]/_/g;

  return $string;
}

# BELOW THIS LINE IS STUFF FOR ALL KEYMAP PROVIDERS

$::keymap_defs = {
		  'prefix' => 'console-data/keymap/',
		  'toplevel' => 'family',
		  'sublevels' => [
				  'layout',
				  'variant',
				  'keymap',
				 ],
		  'allitems' => $::keymaps,
		  'obsolete' => $::obsolete_keymaps,
		  'archsets' => {
				 'i386' => [ 'pc' ],
				 #			       'hurd-i386' => [ 'pc' ],
				 'sparc' => [ 'sparc' ],
				 'alpha' => [ 'pc' ],
				 'arm' => [ 'pc' ],
				 'mips' => [ 'pc' ],
				 'm68k/atari' => [ 'atari' ],
				 'm68k/amiga' => [ 'amiga' ],
				 'm68k/mac' => [ 'mac' ],
				 'm68k/mvme' => [ 'pc' ],
				 'm68k/bvme' => [ 'pc' ],
				 'powerpc/amiga' => [ 'amiga' ],
				 'powerpc/chrp' => [ 'pc', 'mac' ],
				 'powerpc/mac' => [ 'mac' ],
				 'powerpc/prep' => [ 'pc' ],
				},
		 };

# Layout of questions is:
#
# console-data/keymap/
#   /family
#   /azerty/
#     /layout
#     /french/
#       /variant
#       /without euro/
#         /keymap

# FIXME: maybe use eg. country codes in storage, and translate into
# localized string when needed ?

sub declare_keymaps {
  my ($defs) = @_;

  foreach my $kbdarch (@{$defs->{archsets}->{guess_arch($defs)}}) {
    declare_families ($defs, $defs->{allitems}->{$kbdarch}, $defs->{prefix});
  }
}

sub find_default {
  my ($leveldefs, $question) = @_;

  if (defined $leveldefs->{default}) {
    my $def = $leveldefs->{default};
    # FIXME: not really deleted ?!
    delete $leveldefs->{default};
    return $def;
  } elsif (defined $leveldefs->{Standard}) {
    return 'Standard';
#  } elsif (scalar(keys %{$leveldefs}) == 1) {
  } else {
    printf STDERR "No default for $question - picking one\n";
    $::warned = 1;
    return (keys %{$leveldefs})[0];
  }
}

sub declare_families {
  my ($defs, $familydefs, $prefix) = @_;
  my $familyquestion = $prefix . $defs->{toplevel};
  $familyquestion = correctname $familyquestion;

  # There is only one family question, never need to register more

  my ($ret, $families) = metaget ($familyquestion, 'choices');
  my @families = split (/, */, $families);

  # take default entry into account
  my $default = find_default ($familydefs, $familyquestion);

  foreach my $family (keys %{$familydefs}) {
    # add family if not declared yet
    push (@families, $family) unless grep { $_ eq $family } @families;

    declare_layouts ($defs,
		     $familydefs->{$family},
		     $prefix . $family . '/');
  }

  # Update list of available families
  subst ($familyquestion, 'choices', join (", ", @families));
  # Maybe set default choice
  ($ret, my $seen) = fget ($familyquestion, 'seen');
  set ($familyquestion, $default) if $seen eq 'false';
}

sub declare_layouts {
  my ($defs, $layoutdefs, $prefix) = @_;
  my $layoutquestion = $prefix . $defs->{sublevels}->[0];
  $layoutquestion = correctname $layoutquestion;

  # create if needed
  my ($ret) = get ($layoutquestion);
  register ($defs->{prefix} . 'template/' . $defs->{sublevels}->[0],
	    $layoutquestion) if $ret == 10;

  ($ret, my $layouts) = metaget ($layoutquestion, 'choices');
  my @layouts = split (/, */, $layouts);

  # take default entry into account
  my $default = find_default ($layoutdefs, $layoutquestion);

  foreach my $layout (keys %{$layoutdefs}) {
    # add layout if not declared yet
#    printf STDERR "Looking at layout $layout\n";
    push (@layouts, $layout) unless grep { $_ eq $layout } @layouts;

    declare_kbdvariants ($defs,
			 $layoutdefs->{$layout},
			 $prefix . $layout . '/');
  }
  # Update list of available layouts
  subst ($layoutquestion, 'choices', join (", ", @layouts));
  # Maybe set default choice
  ($ret, my $seen) = fget ($layoutquestion, 'seen');
  set ($layoutquestion, $default) if $seen eq 'false';
}

sub declare_kbdvariants {
  my ($defs, $kbdvariantdefs, $prefix) = @_;
  my $kbdvariantquestion = $prefix . $defs->{sublevels}->[1];
  $kbdvariantquestion = correctname $kbdvariantquestion;

  # create if needed
  my ($ret) = get ($kbdvariantquestion);
  register ($defs->{prefix} . 'template/' . $defs->{sublevels}->[1],
	    $kbdvariantquestion) if $ret == 10;

  ($ret, my $kbdvariants) = metaget ($kbdvariantquestion, 'choices');
  my @kbdvariants = split (/, */, $kbdvariants);

  # take default entry into account
  my $default = find_default ($kbdvariantdefs, $kbdvariantquestion);

  foreach my $kbdvariant (keys %{$kbdvariantdefs}) {
    # add kbdvariant if not declared yet
    push (@kbdvariants, $kbdvariant) unless grep { $_ eq $kbdvariant } @kbdvariants;

    declare_mapvariants ($defs,
			 $kbdvariantdefs->{$kbdvariant},
			 $prefix . $kbdvariant . '/');
  }
  # Update list of available kbdvariants
  subst ($kbdvariantquestion, 'choices', join (", ", @kbdvariants));
  # Maybe set default choice
  ($ret, my $seen) = fget ($kbdvariantquestion, 'seen');
  set ($kbdvariantquestion, $default) if $seen eq 'false';
}

sub declare_mapvariants {
  my ($defs, $mapvariantdefs, $prefix) = @_;
  my $mapvariantquestion = $prefix . $defs->{sublevels}->[2];
  $mapvariantquestion = correctname $mapvariantquestion;

  # create if needed
  my ($ret) = get ($mapvariantquestion);
  register ($defs->{prefix} . 'template/' . $defs->{sublevels}->[2],
	    $mapvariantquestion) if $ret == 10;

  # take default entry into account
  my $default = find_default ($mapvariantdefs, $mapvariantquestion);

  ($ret, my $mapvariants) = metaget ($mapvariantquestion, 'choices');
  my @mapvariants = split (/, */, $mapvariants);

  foreach my $mapvariant (keys %{$mapvariantdefs}) {
    # add mapvariant if not declared yet
    push (@mapvariants, $mapvariant) unless grep { $_ eq $mapvariant } @mapvariants;
  }
  # Update list of available mapvariants
  subst ($mapvariantquestion, 'choices', join (", ", @mapvariants));
  # Maybe set default choice
  ($ret, my $seen) = fget ($mapvariantquestion, 'seen');
  set ($mapvariantquestion, $default) if $seen eq 'false';
}

# handle transitions in the state machine
sub transition {
  my ($defs, $origstate, $priority, $prev, $next) = @_;
  my $newstate;
  my $ret;

  # compute question according to state
  my $prefix = $defs->{prefix};
  my $question = $prefix . $defs->{toplevel};
  for (my $level = 0; $level < $origstate; $level ++) {
    my ($ret, $choice) = get ($question);
    $prefix = $prefix . $choice . '/';
    $question = $prefix . $defs->{sublevels}->[$level];
    $question = correctname $question;
  }

  ($ret) = input ($priority, $question);
  $ret = go;
  if ($ret eq "backup") {
#     if ($prev = -1) {
#       previous_module;
#       exit;
#     } else {
      $newstate = $prev;
#     }
  } else {
    $newstate = $next;
  }

#   if ($changed) {
#     reset $defs->{levels}->[1];
#   }

  return $newstate;
}


# The real config engine
sub configure {
  my ($defs) = @_;
  my $ret;

#  cleanup_old_items ($defs);

  my $state = 0;
  # This is a simple state machine for all config items
  while ($state != 99) {

    #
    # Change the keymap ?
    #

    ($state == 0) && do {

      # This one has a default, we can trust it has a value
      ($ret) = input ('high', 'console-data/keymap/policy');
      if ($ret == 30) {		# if the question is not going to be asked...
	($ret, my $seen) = fget ('console-data/keymap/policy', 'seen');
	# ... and the user never saw it ...
	if ($seen eq 'false') {
	  # ... then change the default
	  set ('console-data/keymap/policy', 'Don\'t touch keymap');
	}
      }
      $ret = go;
      if ($ret eq "backup") {
	previous_module;
	exit;
      }

      my $policy = get ('console-data/keymap/policy');

      if ($policy eq 'Select keymap from list') {
	$state = 1;
	next;
      } elsif (($policy eq 'Don\'t touch keymap') || ($policy eq 'Keep kernel keymap')) {
	$state = 99;
      } else {
	die "get(console-data/keymap/policy) said $policy"
      }
    };

    #
    # Keymap changes
    #

    ($state == 1) && do {
	my $kstate = 0;
	# This is a simple embedded state machine for keymap
	while (($kstate != 99) and ($kstate != -1)) {
	  ($kstate == 0) && do { # get_family
	    $kstate = transition ($defs, 0, 'high', -1, 1);
	    next;
	  };

	  ($kstate == 1) && do { # get_layout
	    $kstate = transition ($defs, 1, 'high', 0, 2);
	    next;
	  };

	  ($kstate == 2) && do { # get_kbdvariant
	    $kstate = transition ($defs, 2, 'medium', 1, 3);
	    next;
	  };

	  ($kstate == 3) && do { # get_mapvariant
	    $kstate = transition ($defs, 3, 'low', 2, 99);
	    next;
	  };
	}

	if ($kstate == -1) {
	  $state = 0;
	} else {
	  $state = 99;
	}

      next;
    };

    #
    # The default font, and SFM fallbacks
    #

    #
    # The default ACM ?
    #
  }
}

sub deconfigure {
  my ($defs) = @_;

  # FIXME: should deregister our entries' choices

#  purge;

  # FIXME: should run configuration of console-common afterwards (if needed ?)
}

# GO !

capb ('backup');

if ($ARGV[0] eq 'configure') {
  $::warned = 0;
  # do not attempt declaration of empty keymap-list
  declare_keymaps ($::keymap_defs) if %{$::keymaps};
  if ($::warned) {
    printf STDERR <<EOF

If you have information about what choice should be the default for the
above questions which gave warnings, please mail me this at dirson\@debian.org.

Thanks for your help.

EOF
  ;
  }
  configure($::keymap_defs);
}
elsif ($ARGV[0] eq 'reconfigure') {
  configure($::keymap_defs);
}
elsif ($ARGV[0] eq 'X-deconfigure') {
  deconfigure($::keymap_defs);
}
