#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

# Display upgrade notices
if [ "$1" = "configure" -a "$2" != "" ]; then
    for note in radius-ports-pre-3.05 \
                portmap-restart-pre-3.11-2 \
                init.d-split-pre-3.16-1 \
		etc-network-interfaces-pre-3.17-1
    do
        ver=${note#*-pre-}
        if dpkg --compare-versions "$2" lt "$ver"; then
            db_input medium "netbase/upgrade-note/$note" || true
        fi
    done
    db_go
fi


# Some sensible defaults, that could /conceivably/ be annoying
db_input low netbase/ipv6-hosts || true
db_go

# Configuration stuff
db_input high netbase/spoofprot || true
db_input high netbase/spoofprot/pre-2.2-ip || true
db_input high netbase/spoofprot/pre-2.2-interfaces || true
db_go

