#!/bin/sh -e

# Source debconf library
. /usr/share/debconf/confmodule

if db_get netbase/inetd-dos-services; then
	db_set netkit-inetd/inetd-dos-services "$RET"
	db_fset netkit-inetd/inetd-dos-services isdefault false
	db_unregister netbase/inetd-dos-services
fi

db_input low netkit-inetd/inetd-dos-services || true
db_go
