#!/bin/sh -e
#
# $Id: config,v 1.6 2001/03/22 12:42:30 matt Exp $
#

. /usr/share/debconf/confmodule

db_input medium ssmtp/overwriteconfig || true
db_go

db_get ssmtp/overwriteconfig || true
OverwriteConfig="${RET:-true}"

if test "$OverwriteConfig" = "true"
then
	db_input medium ssmtp/root || true
	db_go

	db_input medium ssmtp/mailhub || true
	db_go
fi

if test -s /etc/mailname
then
	ETC_MAILNAME="ExistsAndNotZeroBytes"
fi

if test -z "$ETC_MAILNAME" -o "$OverwriteConfig" = "true"
then
	db_input medium ssmtp/rewritedomain || true
	db_go

	db_input low ssmtp/hostname || true
	db_go
fi

if test "$OverwriteConfig" = "true"
then
	db_input medium ssmtp/fromoverride || true
	db_go
fi

# Program End
exit 0
